@model IEnumerable<AutoNuoma.Models.Nauju_knygu_uzsakymas>

@{ ViewBag.Title = "Uzsakymai"; }

<h2>Gauti uzsakymai</h2>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Knygų pardavimo IS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @* Navigacijos meniu *@
                <li>@Html.ActionLink("Peržiūrėti prekių užsakymus", "Index", "Nauju_knygu_uzsakymasPardavejas")</li>
                <li>@Html.ActionLink("Peržiūrėti knygų sąrašą", "Index", "Knyga")</li>
                <li>@Html.ActionLink("Peržiūrėti gautų užsakytų knygų sąrašą", "Index", "Parduotaknyga")</li>

            </ul>
        </div>
    </div>
</div>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<script src="~/Scripts/jquery.datetimepicker.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>



<table class="table table-striped datatable">
    <thead>
        <tr style="background-color: lightgreen">
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.knygos_isleidimo_metai_nuo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.knygos_isleidimo_metai_iki)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.knygos_zanras)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.kalba)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.kiekis)
            </th>


            <th style="width: 18%"></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.knygos_isleidimo_metai_nuo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.knygos_isleidimo_metai_iki)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.knygos_zanras)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.kalba)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.kiekis)
                </td>


                <td>
                    @Html.ActionLink("Atlikti", "CreateP", "Knyga", new { id = item.id, kiekis = item.kiekis, kalba = item.kalba, zanras = item.knygos_zanras }, new { @class = "btn btn-primary action" })

                </td>
            </tr>
        }
    </tbody>
    <div>
        @Html.ActionLink("Atgal", "Meniu", "Pardavejas", null, new { @class = "btn btn-default" })
    </div>

</table>
